@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Red+Hat+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body{
    background: linear-gradient(#0a0a0a, #130000);
  }
img {
  padding: 10%;
}

a:link {text-shadow: 0px 0px 4px #ffffff81; color: #171355; text-decoration: none}
a:visited {text-shadow: 0px 0px 4px #ffffff81; color: #171355; text-decoration: none}
a:hover {text-shadow: 0px 0px 5px #ffffffd7; color: #3366CC; text-decoration: underline}
a:active {text-shadow: 0px 0px 4px #ffffff81; color: #171355; text-decoration: none}

section {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  text-shadow: 0px 0px 4px #ffffff81;
  min-height: 100vh;
  color: #A2928A;
}
section:nth-child(2) {
  color: #2c1805;
}
section:nth-child(3) {
  color: #2c1805;
}
section:nth-child(4) {
  min-height: 100vh;
  color: #42455a;
}
section .container {
  margin: 20px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background: #a8a6c0;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.3s ease-in-out;
}
.active.fade-left {
  animation: fade-left 0.3s ease-in-out;
}
.active.fade-right {
  animation: fade-right 0.3s ease-in-out;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(70px);
    opacity: 0;
    /* transform: translateX(-500px); */
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateY(70px);
    opacity: 0;
    /* transform: translateX(-500px); */
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateY(70px);
    opacity: 0;
    /* transform: translateX(-500px); */
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
    opacity: 1;
  }
}
